.Navbar {
	display: flex;
	justify-content: space-around;
	height: 20%;
}
.nav-items {
	display: flex;
	justify-content: space-between;
}
h4 {
	margin: 5px;
}
.home-section {
	display: flex;
	height: 80%;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}
.home-section-items {
	width: 75px;
	height: 75px;
	border: 1px solid black;
}
.homepage {
	width: 100vh;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
